<div class="outer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 offset-md-2 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="text-center font-weight-bold">login</h3>
          </div>
          <div class="panel-body p-3">
            <form>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span
                    class="bi bi-person-circle p-2"
                    style="font-size: 3vh"
                  ></span>
                  <input type="text" placeholder="Username" />
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span
                    class="bi bi-file-lock-fill p-2"
                    style="font-size: 3vh"
                  ></span>
                  <input type="text" placeholder="Password" />
                </div>
              </div>
              <div class="form-inline  m-2">
                <a id="forget" class=" font-weight-bold">Forget Password?</a>
              </div>
              <button
                class="mt-3 btn btn-primary btn-block w-50 center-block center"
                style="display: block; margin: auto"
              >
                Login
              </button>
              <div class="text-center mt-2">
                Don't Have Account?
                <a id="forget"  routerLink="/signup">Sign Up</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
